@media screen and (max-width: 1250px) {
  .mission-statement-h span {
    display: block;
  }

  .mission-statement-flex {
    flex-direction: column;
  }

  .mission-statement-flex img {
    border-radius: 60px 60px 30px 30px;
    margin-left: 0;
  }

  .mission-statement-flex p {
    text-align: justify;
  }

  .mission-statement .orange-p {
    line-height: 1;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .we-do-flex {
    flex-direction: column;
  }

  .we-do-flex img {
    width: 80%;
    margin-left: 0;
  }

  .we-do-flex p {
    text-align: justify;
  }

  .feature-list {
    flex-direction: column;
  }

  .feature-list div {
    width: 100%;
    margin-bottom: 4rem;
  }

  .feature-list .orange {
    display: none;
  }

  .orange2 {
    display: block;
  }

  .features {
    margin: 8rem 0 4rem;
  }

  .pricing-details {
    flex-direction: column;
    align-items: center;
  }

  .pricing-details p {
    text-align: justify;
  }

  .pricing-added-note {
    margin-left: 0;
  }

  .pricing-details img {
    width: 80%;
    box-shadow: 0 0 4px;
    border-radius: 100px 100px 20px 20px;
  }

  #pricing-section .orange-p {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1050px) {
  /* Services Page */
  .price-cards {
    flex-direction: column;
    align-items: center;
  }

  .card-2 {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1000px) {
  /* Index Page */
  .service-overview {
    max-width: none;
    margin: 4rem 17%;
  }

  .service-overview h1 {
    margin-bottom: 1.5rem;
  }

  .preferred-main h2,
  .classic-main h2 {
    margin-bottom: 1rem;
  }

  .service-overview-flex-top p {
    text-align: justify;
  }

  .we-offer-img {
    margin-right: 0;
  }

  .service-overview-flex-top,
  .preferred-flex-top,
  .classic-flex-top {
    flex-direction: column;
    align-items: center;
  }

  .preferred-flex-top img,
  .classic-flex-top img {
    margin-left: 0;
  }

  .preferred-flex-top div {
    margin-top: 1.5rem;
  }

  .plans-list {
    margin: 3rem 17% 0;
  }

  .preferred-flex-bottom,
  .classic-flex-bottom {
    max-width: 648px;
  }

  .preferred-what-get,
  .classic-what-get {
    display: flex;
    flex-direction: column;
  }

  .what-get-listing p:last-child {
    height: auto;
  }

  .preferred-btn {
    margin: 1rem auto 6rem;
  }

  .classic-footnotes {
    margin: auto;
  }

  .classic-footnotes p {
    line-height: 1.5;
  }
}

@media screen and (max-width: 920px) {
  /* Index Page */

  #new-hero {
    margin: 90px 10px 2rem;
  }

  #new-hero h2 {
    max-width: 50%;
    font-size: 1.75rem;
  }

  #new-hero img {
    max-width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #new-hero button {
    left: 15%;
    bottom: 5%;
  }

  .hidden-hero {
    background-image: linear-gradient(45deg, #0041a3, #0092cc);
    border-radius: 40px;
  }
  .hidden-hero button {
    font-size: 1.6vw;
  }

  .fa-comment-dots {
    font-size: 25vw;
  }

  #navbar {
    margin: 0;
    align-items: center;
    z-index: 2;
    position: fixed;
    width: 90%;
    left: 0;
    top: 0;
    background-color: white;
    outline: solid 2px black;
    border: none;
    padding: 0 5%;
  }

  .navbar-logo {
    height: 4rem;
    width: auto;
  }

  .nav-btn {
    display: inline-block;
    border-radius: 5px;
  }

  .navbar-list {
    position: fixed;
    width: 100%;
    right: 50%;
    transform: translate(50%, 0);
    text-align: center;
    background-color: white;
    padding-inline-start: 0;
    padding-top: 1.5rem;
    z-index: 1;
    height: 100vh;
    display: block;
    transition: top 0.25s ease-in-out;
  }

  .above {
    top: -100vh;
  }

  .navbar-item,
  .navbar-item-text {
    margin-left: 0;
  }

  .navbar-item-text {
    font-size: 1.75rem;
  }

  button.nav-btn {
    background-color: white;
  }

  button .fa-solid {
    font-size: 2rem;
    width: 2rem;
  }

  #hero-section {
    margin: 90px 10px 10px;
  }
  .hidden-hero .fa-solid {
    font-size: 20vw;
  }
  .hidden-hero h2 {
    font-size: 3vw;
  }

  h1 {
    margin: 0;
    font-size: 4vw;
  }

  .mission-statement {
    margin: 1.5rem 0 0;
  }

  .mission-statement-h {
    margin: 0;
    font-size: 3.5vw;
  }

  .orange-p {
    font-size: 2.75vw;
  }

  .footer-flex {
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0;
  }

  .footer-nav {
    min-width: 280px;
  }

  .footer-brand img {
    height: auto;
    max-width: 325px;
  }

  /* Services Page */

  .service-overview {
    margin-top: 120px;
  }

  .service-overview-flex-top {
    margin: 1rem 0 0;
  }

  /* About Page */

  .about-us {
    width: auto;
    margin: 17%;
  }

  .about-us-flex-top {
    flex-direction: column;
  }

  .about-us-flex-top img {
    margin-right: 0;
    height: auto;
  }

  .about-us-flex-1 {
    flex-direction: column;
  }

  .about-us-flex-bottom-listing {
    width: 100%;
  }

  .about-us-last-listing {
    margin: 0;
  }

  /* Contact Page */

  .contact {
    margin: 90px 0 6rem;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p,
  a {
    font-size: 1rem;
  }

  #new-hero h2 {
    max-width: 100%;
    text-align: center;
    position: relative;
  }

  #new-hero img {
    margin-top: 1rem;
    left: auto;
    transform: none;
    max-width: 90%;
    border-radius: 24% 30% / 10% 10%;
    box-shadow: 0px 1px 2px 2px;
  }

  #new-hero button {
    position: static;
    display: block;
    margin: 1.5rem auto 4rem;
  }

  .hidden-hero .fa-solid {
    font-size: 24vw;
  }

  .hidden-hero h2 {
    font-size: 1.2rem;
    margin: 1% 0 1.5%;
  }

  .hidden-hero button {
    font-size: 1rem;
    margin-bottom: 4%;
  }

  .mission-statement-h {
    font-size: 1.3rem;
  }

  .mission-statement-flex img {
    width: 90%;
  }

  .orange-p {
    font-size: 1.1rem;
  }

  #info-section {
    margin: 2rem 10px;
  }

  .mission-statement {
    margin: 0;
  }

  .mission-statement-h span {
    display: inline;
  }

  .we-do {
    margin: 4rem 0 0;
  }

  .we-do-flex img {
    width: 90%;
  }

  .features {
    margin: 4rem 0 0;
  }

  .feature-list div {
    margin-bottom: 2rem;
  }

  #pricing-section {
    margin: 0 10px 2rem;
  }

  .pricing-section-h {
    margin-bottom: 0;
  }

  #pricing-section .orange-p {
    margin-top: 0;
  }

  .pricing-details img {
    width: 90%;
  }

  .pricing-p {
    margin-top: 1.2rem;
  }

  .price-cards {
    margin: 4rem auto;
  }

  .footer-nav {
    margin: 2rem 0;
  }

  .footer-copy {
    margin: 0;
  }

  .fa-ban {
    font-size: 60vw;
  }

  /* Services Page */

  .service-overview {
    margin: 120px 10px 75px;
  }

  .preferred-main h2,
  .classic-main h2 {
    margin-bottom: 1rem;
  }

  .we-offer-img,
  .preferred-flex-top img,
  .classic-flex-top img {
    width: 90%;
    max-width: none;
  }

  .plans-list {
    margin: 3rem 10px 0;
  }

  .preferred-flex-top h3,
  .preferred-flex-bottom h3,
  .classic-flex-top h3,
  .classic-flex-bottom h3 {
    font-size: 1.2rem;
  }

  .listing-h {
    font-size: 1.1rem;
  }

  .preferred-btn,
  .classic-btn,
  .individual-btn {
    font-size: 1.1rem;
  }

  .individual-list {
    flex-direction: column;
  }

  .individual-middle-col {
    visibility: hidden;
  }

  .individual-col-3 {
    padding-right: 0;
  }

  .individual-listing {
    margin-bottom: 1.5rem;
  }

  .individual-btn {
    margin: -1rem auto 3rem;
  }

  /* About Page */

  .about-us {
    margin: 90px 10px 4rem;
  }

  .about-us-flex-top img {
    max-width: 90%;
  }

  .about-us-top-right h3 {
    font-size: 1.15rem;
    text-align: center;
  }

  .about-added-note {
    font-size: 1rem;
  }

  /* Contact Page */

  .contact {
    margin: 90px 10px 6rem;
  }

  form input, form textarea {
    font-size: 0.75rem;
}
}
